$debug-trace: true !default;

@mixin color-loop($style-name, $color-name, $color){
    @if $debug-trace{ 
        @debug "Color Loop Is Tracing";
        @debug "Short Name" + $short-name;
        @debug "Long Name" + $long-name; 
        @debug "CSS Style" + $style; 

    }
    $white-mix:     map-get($values, percent-positive);
    $black-mix:     map-get($values, percent-negative);
    $labels:        map-get($style-definition, $style-name);
	  $short-name:    #{ map-get($labels, short-name)}_#{ $color-name }; 	 
  	$long-name:     #{ map-get($labels, long-name)}_#{  $color-name };	
  	$style:			map-get($labels, css-style); 
  		@each  $val-name, $val in $white-mix {
        @if $val-name == 0 {
          #{$short-name}{
            #{$style}:mix(white, $color,  $val) !important;
          }        
        }
        @else{
    		  #{$short-name}-#{$val-name}{
    		    #{$style}:mix(white, $color,  $val) !important;
    		  }

        }
      }
      @each  $val-name, $val in $black-mix {
        #{$short-name}-#{$val-name}{
  		    #{$style}:mix(black, $color,  $val) !important;
  		  }
      }
}