$debug-trace: true !default;

@mixin size-loop( $style-name:null , $size-variation:null, $multiplier:0, $breakpoint:"" ){
	$labels:		map-get($style-definition, $style-name);
	$short-name:	map-get($labels, short-name); 	 
	$long-name:		map-get($labels, long-name); 	
	$style:			map-get($labels, css-style); 	 
	@if $size-variation == null {
		@debug "size-loop mixin has errored. $size-variation can not be nulll";
	}
	@else{
		$sizes: map-get($values,$size-variation); 
		@if $debug-trace{ @debug $sizes;}
		@each  $val-name, $val in $sizes {
			$unit:0;
			@if $val == 1px{
				$unit:1px
			}
			@else if $val == -1px{
				$unit: -1px
			}
			@else{
				$unit: $multiplier * $val; 
			}

			#{ $long-name }_#{ $val-name }#{$breakpoint}{
				#{$style}:$unit;	
			}
		}		
	}
	@if $debug-trace{
		@debug "Short Name" + $short-name;
		@debug "Long Name" + $long-name; 
		@debug "CSS Style" + $style;
		@debug "Multiplier" + $multiplier;
	}
}