.templateDocumentation .parent, .templateDocumentation .child {
  padding: 10px;
  display: block;
}

/*
 Parent Template


 This is how you describe the elements 

 markup:
 <div class="parent">parent</div>

 sg-wrapper:
 <div class="templateDocumentation">
   <sg-wrapper-content/>
 </div>

 Styleguide 99.0
*/
.parent {
  background-color: red;
}

/*
 Child Template

 This is text about the child
 
 markup:
 <span class="child">child</span>

 sg-wrapper:
 <div class="parent">
   <sg-wrapper-content/>
 </div>

 Styleguide 99.1
*/
.child {
  background-color: red;
}

.li {
  background-color: yellow;
}