/*UC Only Setup*/

/*ACC Branding*/
/** 
	Strathmore
	Version 1.1
**/
$debug-trace: false !default;
$name-mode: "SHORT" !default; // $name-mode: "SHORT","LONG","ALL"
$ms-base: 1rem !default; // needs to be in rem's
@import "../../node_modules/foundation-sites/scss/util/util";

// Setup Functions, Mixins, and Variables
@import "helpers/helpers";
@import "vendor/modular-scale";
@import "config/config";

// Foundation alteration
@import "config/foundation-settings";
@import "vendor/foundation-sites/foundation";
@include foundation-everything();

// styleguide:ignore:end
// ACC Design Alterations
@import "base/base";
@import "components/components";
@import "structures/structures";
// #override-container {
// 	@import "utility-css/utility-css";
// }

@import "utility-css/utility-css";
@import "reciepes/reciepes";
//StyleGuide
@import "styleguide/styleguide";
