$teal:#11838e;
$dark-grey:#63646b;
$green:#09911f;
$orange:#e18725;
$red: #cb241c;
$blue:#4f74bf;
$green-alt:#509f6c;
$purple:#735dba;
$magenta:#c45e99;

$acc-palette: (
  primary: $teal,
  secondary: $dark-grey,
  success: $green,
  warning: $orange,
  alert:$red,
  navigation: $blue,
  selected:$green-alt,
  info:$purple,
  highlighted:$magenta
);

