$acc-palette: (
  primary: #24929d,
  secondary: #63646b,
  success: #3b9b19,
  warning: #e18725,
  alert: #cb241c,
  'teal': #137680,
  'grey': mix(#010B13, white, 50%),
  'blue': #4f74bf,
  'green':#509f6c,
  'purple':#735dba,
  'magenta':#ba5e93,
);

