// Converted Variables


// Custom Media Query Variables


/*
	Border Styles

	Depends on base border module in _borders.css

	border_none           - none
	border_dotted         - dotted
	border_dashed         - dashed
	border_solid          - solid

	markup:
	<div class="{$modifiers} padding_3">{$modifiers} border</div>

	Styleguide 80.10

 */

.border_dotted { border-style: dotted; }
.border_dashed { border-style: dashed; }
.border_solid {  border-style: solid; }
.border_none {   border-style: none; }

@media #{$medium-up} {
  .border_dotted-ns { border-style: dotted; }
  .border_dashed-ns { border-style: dashed; }
  .border_solid-ns {  border-style: solid; }
  .border_none-ns {   border-style: none; }
}

@media #{$medium-only} {
  .border_dotted-m { border-style: dotted; }
  .border_dashed-m { border-style: dashed; }
  .border_solid-m {  border-style: solid; }
  .border_none-m {   border-style: none; }
}

@media #{$large-up} {
  .border_dotted-l { border-style: dotted; }
  .border_dashed-l { border-style: dashed; }
  .border_solid-l {  border-style: solid; }
  .border_none-l {   border-style: none; }
}


@mixin radius_steps($label,$value-label,$style,$value) {
	.#{$label}#{$value-label}{
		#{$style}-radius:unquote($value);
	}
		.#{$label}-tr#{$value-label}{
		#{$style}-top-right-radius:unquote($value);
	}
		.#{$label}-tl#{$value-label}{
		#{$style}-top-left-radius:unquote($value);
	}
		.#{$label}-br#{$value-label}{
		#{$style}-bottom-right-radius:unquote($value);
	}
		.#{$label}-bl#{$value-label}{
		#{$style}-top-right-radius:unquote($value);
	}
 }


@debug map-get( map-get($style-definition,border-radius), long-name );

@include radius_steps(map-get( map-get($style-definition,border-radius), long-name ),"_square","border","0");
@include radius_steps(map-get( map-get($style-definition,border-radius), long-name ),"_radius","border","5px");
@include radius_steps(map-get( map-get($style-definition,border-radius), long-name ),"_round","border","9999px");
@include radius_steps(map-get( map-get($style-definition,border-radius), long-name ),"_circle","border","100%");


@each $color-name, $hex-value in $acc-palette{
  @include color-loop(border-color, $color-name,$hex-value);
}


/*
	Border Color Black

	Border black has attached alpha 

	border-color_black           	- border black with alpha of 100%
	border-color_black-1           	- border black with alpha of 90%
	border-color_black-2           	- border black with alpha of 80%
	border-color_black-3           	- border black with alpha of 70%
	border-color_black-4           	- border black with alpha of 60%
	border-color_black-5           	- border black with alpha of 50%
	border-color_black-6           	- border black with alpha of 40%
	border-color_black-7           	- border black with alpha of 30%
	border-color_black-8           	- border black with alpha of 20%
	border-color_black-9           	- border black with alpha of 10%
	border-color_black-0           	- border black with alpha of 2%

	markup:
	<div class="{$modifiers} padding_3 border_solid back_primary color_white">{$modifiers} border</div>

	Styleguide 80.11

 */



.border-color_black{ border-color:rgba(#000,1)}
.border-color_black-1{ border-color:rgba(#000,.9)}
.border-color_black-2{ border-color:rgba(#000,.8)}
.border-color_black-3{ border-color:rgba(#000,.7)}
.border-color_black-4{ border-color:rgba(#000,.6)}
.border-color_black-5{ border-color:rgba(#000,.5)}
.border-color_black-6{ border-color:rgba(#000,.4)}
.border-color_black-7{ border-color:rgba(#000,.3)}
.border-color_black-8{ border-color:rgba(#000,.2)}
.border-color_black-9{ border-color:rgba(#000,.1)}
.border-color_black-0{ border-color:rgba(#000,.02)}

.border_transparent{border-color:transparent;}


