/*
	Display

	quickly alter the padding of an object 

	.d_block              		- div is the a block
	.d_inline              		- div is now inline
	.d_inline-block             - div is now inline-block
	.d_table-cell             - div is now table-cell
	.d_flex-inline             - div is now flex-inline

	markup:
	<div class="br_solid br_transparent bg_alert-3  text-center"><div class="bg_primary-5 text-center {$modifiers}">Content</div></div>

	Styleguide 110.1

 */

@include loop-style(display);

@media #{$medium-up} {
	@include loop-style(display, $bp_medium);
}
@media #{$large-up} {
	@include loop-style(display, $bp_large);
}

.vertical-align_top {
	vertical-align: top;
}
.vertical-align_middle {
	vertical-align: middle;
}
.vertical-align_bottom {
	vertical-align: bottom;
}
