/*
UC: Introduction

 Utility Classes(UCs) are classes that control single styles allowing for quick manipulations of the appearance of the DOM.  When combined with other UCs and toggled with javascripts you can create complex and new UI without ever writing more styles into the system. Examples of some UC built UIs can be found here as reciepes. 

 Styleguide 80.0
*/
/* No styleguide reference. */
@import "reciepes";
/*
UC: Margin & Padding

Padding and Margins are the most common usage for Utility Classes.  Spacing UC's are responsive and can be postfixed with `-medium` and with `-large` to have finer control on the spacing of objects.

Styleguide 81.0
*/
/* No styleguide reference. */
@import "spacing";

@import "typoography";

/*
  UC: Background 
 
  Background of containers can be easily maniputlated with textures and colors.  
  
  Styleguide 90.0
*/
/* No styleguide reference. */
@import "background";
@import "shadows";
@import "textures";

/*
  UC: Hover

  Make any Object hover action. 

  Styleguide 84.0
*/
/* No styleguide reference. */
@import "hover";
/*
 UC: Borders

  Borders a complex utility that demands a combo UCs acheive the effect. The three UCs that must be used in combo are 'border_X','border-width_X', and 'border-color_X'.  So to make an object with single black pixel border that is solid you would have to add '.border_solid.border-width_1.border_black' 

  Styleguide 83.0
 
 */
@import "border";

@import "flex";
@import "opacity";



