/*
Utility CSS

 Single Class that controls single styles allowing for quick manipulations and when combined can style new types of UI without the need of new CSS. 

 Styleguide 80.0
*/
/* No styleguide reference. */
@import "background";
@import "shadows";
@import "textures";

@import "spacing";
@import "border";
@import "typoography";
@import "flex";


.opacicty_0{ opacity:0;}
.opacity_1{opacity:.1;}
.opacity_2{opacity:.2;}
.opacity_3{opacity:.3;}
.opacity_4{opacity:.4;}
.opacity_5{opacity:.5;}
.opacity_6{opacity:.6;}
.opacity_7{opacity:.7;}
.opacity_8{opacity:.8;}
.opacity_9{opacity:.9;}
.opacity_none{opacity:1;}
