/*
 List Item

 List Items can be differnet

 markup:
 <li>List Item</li>

 sg-wrapper:
 <ul>
   <sg-wrapper-content/>
 </ul>

 Styleguide 99.2
*/

li{
background-color: yellow;
	&.error{background-color: red;}
}
