[type=text].pseudo-class-focus,
[type=password].pseudo-class-focus,
[type=date].pseudo-class-focus,
[type=datetime].pseudo-class-focus,
[type=datetime-local].pseudo-class-focus,
[type=month].pseudo-class-focus,
[type=week].pseudo-class-focus,
[type=email].pseudo-class-focus,
[type=number].pseudo-class-focus,
[type=search].pseudo-class-focus,
[type=tel].pseudo-class-focus,
[type=time].pseudo-class-focus,
[type=url].pseudo-class-focus,
[type=color].pseudo-class-focus,
textarea.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

input.pseudo-class-disabled,
textarea.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.input-group > .pseudo-class-first-child,
.input-group > .pseudo-class-first-child.input-group-button > * {
  border-radius: 0px 0 0 0px;
}

.input-group > .pseudo-class-last-child,
.input-group > .pseudo-class-last-child.input-group-button > * {
  border-radius: 0 0px 0px 0;
}

.input-group-label.pseudo-class-first-child {
  border-right: 0;
}

.input-group-label.pseudo-class-last-child {
  border-left: 0;
}

select.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

select.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #167996;
}

.button.pseudo-class-hover,
.button.pseudo-class-focus {
  background-color: #157894;
  color: #f6f6f6;
}

.button.primary.pseudo-class-hover,
.button.primary.pseudo-class-focus {
  background-color: #14718b;
  color: #131212;
}

.button.secondary.pseudo-class-hover,
.button.secondary.pseudo-class-focus {
  background-color: #52555b;
  color: #f6f6f6;
}

.button.success.pseudo-class-hover,
.button.success.pseudo-class-focus {
  background-color: #066e25;
  color: #f6f6f6;
}

.button.warning.pseudo-class-hover,
.button.warning.pseudo-class-focus {
  background-color: #ae680d;
  color: #131212;
}

.button.alert.pseudo-class-hover,
.button.alert.pseudo-class-focus {
  background-color: #b11515;
  color: #f6f6f6;
}

.button.navigation.pseudo-class-hover,
.button.navigation.pseudo-class-focus {
  background-color: #22469a;
  color: #f6f6f6;
}

.button.accent.pseudo-class-hover,
.button.accent.pseudo-class-focus {
  background-color: #12826a;
  color: #131212;
}

.button.info.pseudo-class-hover,
.button.info.pseudo-class-focus {
  background-color: #877a6c;
  color: #131212;
}

.button.highlight.pseudo-class-hover,
.button.highlight.pseudo-class-focus {
  background-color: #9e327a;
  color: #f6f6f6;
}

.button.acc.pseudo-class-hover,
.button.acc.pseudo-class-focus {
  background-color: #002d56;
  color: #f6f6f6;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus {
  background-color: #198dae;
  color: #f6f6f6;
}

.button.disabled.primary.pseudo-class-hover,
.button.disabled.primary.pseudo-class-focus,
.button[disabled].primary.pseudo-class-hover,
.button[disabled].primary.pseudo-class-focus {
  background-color: #198dae;
  color: #131212;
}

.button.disabled.secondary.pseudo-class-hover,
.button.disabled.secondary.pseudo-class-focus,
.button[disabled].secondary.pseudo-class-hover,
.button[disabled].secondary.pseudo-class-focus {
  background-color: #676a72;
  color: #f6f6f6;
}

.button.disabled.success.pseudo-class-hover,
.button.disabled.success.pseudo-class-focus,
.button[disabled].success.pseudo-class-hover,
.button[disabled].success.pseudo-class-focus {
  background-color: #078a2e;
  color: #f6f6f6;
}

.button.disabled.warning.pseudo-class-hover,
.button.disabled.warning.pseudo-class-focus,
.button[disabled].warning.pseudo-class-hover,
.button[disabled].warning.pseudo-class-focus {
  background-color: #da8210;
  color: #131212;
}

.button.disabled.alert.pseudo-class-hover,
.button.disabled.alert.pseudo-class-focus,
.button[disabled].alert.pseudo-class-hover,
.button[disabled].alert.pseudo-class-focus {
  background-color: #dd1a1a;
  color: #f6f6f6;
}

.button.disabled.navigation.pseudo-class-hover,
.button.disabled.navigation.pseudo-class-focus,
.button[disabled].navigation.pseudo-class-hover,
.button[disabled].navigation.pseudo-class-focus {
  background-color: #2b58c0;
  color: #f6f6f6;
}

.button.disabled.accent.pseudo-class-hover,
.button.disabled.accent.pseudo-class-focus,
.button[disabled].accent.pseudo-class-hover,
.button[disabled].accent.pseudo-class-focus {
  background-color: #16a385;
  color: #131212;
}

.button.disabled.info.pseudo-class-hover,
.button.disabled.info.pseudo-class-focus,
.button[disabled].info.pseudo-class-hover,
.button[disabled].info.pseudo-class-focus {
  background-color: #a3988c;
  color: #131212;
}

.button.disabled.highlight.pseudo-class-hover,
.button.disabled.highlight.pseudo-class-focus,
.button[disabled].highlight.pseudo-class-hover,
.button[disabled].highlight.pseudo-class-focus {
  background-color: #c34198;
  color: #f6f6f6;
}

.button.disabled.acc.pseudo-class-hover,
.button.disabled.acc.pseudo-class-focus,
.button[disabled].acc.pseudo-class-hover,
.button[disabled].acc.pseudo-class-focus {
  background-color: #00386b;
  color: #f6f6f6;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.disabled.pseudo-class-hover,
.button.hollow.disabled.pseudo-class-focus,
.button.hollow[disabled].pseudo-class-hover,
.button.hollow[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  border-color: #0d4757;
  color: #0d4757;
}

.button.hollow.pseudo-class-hover.disabled,
.button.hollow.pseudo-class-hover[disabled],
.button.hollow.pseudo-class-focus.disabled,
.button.hollow.pseudo-class-focus[disabled] {
  border: 1px solid #198dae;
  color: #198dae;
}

.button.hollow.primary.pseudo-class-hover,
.button.hollow.primary.pseudo-class-focus {
  border-color: #0d4757;
  color: #0d4757;
}

.button.hollow.primary.pseudo-class-hover.disabled,
.button.hollow.primary.pseudo-class-hover[disabled],
.button.hollow.primary.pseudo-class-focus.disabled,
.button.hollow.primary.pseudo-class-focus[disabled] {
  border: 1px solid #198dae;
  color: #198dae;
}

.button.hollow.secondary.pseudo-class-hover,
.button.hollow.secondary.pseudo-class-focus {
  border-color: #343539;
  color: #343539;
}

.button.hollow.secondary.pseudo-class-hover.disabled,
.button.hollow.secondary.pseudo-class-hover[disabled],
.button.hollow.secondary.pseudo-class-focus.disabled,
.button.hollow.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #676a72;
  color: #676a72;
}

.button.hollow.success.pseudo-class-hover,
.button.hollow.success.pseudo-class-focus {
  border-color: #044517;
  color: #044517;
}

.button.hollow.success.pseudo-class-hover.disabled,
.button.hollow.success.pseudo-class-hover[disabled],
.button.hollow.success.pseudo-class-focus.disabled,
.button.hollow.success.pseudo-class-focus[disabled] {
  border: 1px solid #078a2e;
  color: #078a2e;
}

.button.hollow.warning.pseudo-class-hover,
.button.hollow.warning.pseudo-class-focus {
  border-color: #6d4108;
  color: #6d4108;
}

.button.hollow.warning.pseudo-class-hover.disabled,
.button.hollow.warning.pseudo-class-hover[disabled],
.button.hollow.warning.pseudo-class-focus.disabled,
.button.hollow.warning.pseudo-class-focus[disabled] {
  border: 1px solid #da8210;
  color: #da8210;
}

.button.hollow.alert.pseudo-class-hover,
.button.hollow.alert.pseudo-class-focus {
  border-color: #6f0d0d;
  color: #6f0d0d;
}

.button.hollow.alert.pseudo-class-hover.disabled,
.button.hollow.alert.pseudo-class-hover[disabled],
.button.hollow.alert.pseudo-class-focus.disabled,
.button.hollow.alert.pseudo-class-focus[disabled] {
  border: 1px solid #dd1a1a;
  color: #dd1a1a;
}

.button.hollow.navigation.pseudo-class-hover,
.button.hollow.navigation.pseudo-class-focus {
  border-color: #162c60;
  color: #162c60;
}

.button.hollow.navigation.pseudo-class-hover.disabled,
.button.hollow.navigation.pseudo-class-hover[disabled],
.button.hollow.navigation.pseudo-class-focus.disabled,
.button.hollow.navigation.pseudo-class-focus[disabled] {
  border: 1px solid #2b58c0;
  color: #2b58c0;
}

.button.hollow.accent.pseudo-class-hover,
.button.hollow.accent.pseudo-class-focus {
  border-color: #0b5243;
  color: #0b5243;
}

.button.hollow.accent.pseudo-class-hover.disabled,
.button.hollow.accent.pseudo-class-hover[disabled],
.button.hollow.accent.pseudo-class-focus.disabled,
.button.hollow.accent.pseudo-class-focus[disabled] {
  border: 1px solid #16a385;
  color: #16a385;
}

.button.hollow.info.pseudo-class-hover,
.button.hollow.info.pseudo-class-focus {
  border-color: #544c43;
  color: #544c43;
}

.button.hollow.info.pseudo-class-hover.disabled,
.button.hollow.info.pseudo-class-hover[disabled],
.button.hollow.info.pseudo-class-focus.disabled,
.button.hollow.info.pseudo-class-focus[disabled] {
  border: 1px solid #a3988c;
  color: #a3988c;
}

.button.hollow.highlight.pseudo-class-hover,
.button.hollow.highlight.pseudo-class-focus {
  border-color: #631f4c;
  color: #631f4c;
}

.button.hollow.highlight.pseudo-class-hover.disabled,
.button.hollow.highlight.pseudo-class-hover[disabled],
.button.hollow.highlight.pseudo-class-focus.disabled,
.button.hollow.highlight.pseudo-class-focus[disabled] {
  border: 1px solid #c34198;
  color: #c34198;
}

.button.hollow.acc.pseudo-class-hover,
.button.hollow.acc.pseudo-class-focus {
  border-color: #001c36;
  color: #001c36;
}

.button.hollow.acc.pseudo-class-hover.disabled,
.button.hollow.acc.pseudo-class-hover[disabled],
.button.hollow.acc.pseudo-class-focus.disabled,
.button.hollow.acc.pseudo-class-focus[disabled] {
  border: 1px solid #00386b;
  color: #00386b;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  background-color: transparent;
}

.button.clear.disabled.pseudo-class-hover,
.button.clear.disabled.pseudo-class-focus,
.button.clear[disabled].pseudo-class-hover,
.button.clear[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  border-color: #0d4757;
  color: #0d4757;
}

.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border: 1px solid #198dae;
  color: #198dae;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus,
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-focus {
  border-color: #0d4757;
  color: #0d4757;
}

.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border: 1px solid #198dae;
  color: #198dae;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus,
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-focus {
  border-color: #343539;
  color: #343539;
}

.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #676a72;
  color: #676a72;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus,
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-focus {
  border-color: #044517;
  color: #044517;
}

.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border: 1px solid #078a2e;
  color: #078a2e;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus,
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-focus {
  border-color: #6d4108;
  color: #6d4108;
}

.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border: 1px solid #da8210;
  color: #da8210;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus,
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-focus {
  border-color: #6f0d0d;
  color: #6f0d0d;
}

.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border: 1px solid #dd1a1a;
  color: #dd1a1a;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus,
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.navigation.pseudo-class-hover,
.button.clear.navigation.pseudo-class-focus {
  border-color: #162c60;
  color: #162c60;
}

.button.clear.navigation.pseudo-class-hover.disabled,
.button.clear.navigation.pseudo-class-hover[disabled],
.button.clear.navigation.pseudo-class-focus.disabled,
.button.clear.navigation.pseudo-class-focus[disabled] {
  border: 1px solid #2b58c0;
  color: #2b58c0;
}

.button.clear.navigation.pseudo-class-hover,
.button.clear.navigation.pseudo-class-hover.disabled,
.button.clear.navigation.pseudo-class-hover[disabled],
.button.clear.navigation.pseudo-class-focus,
.button.clear.navigation.pseudo-class-focus.disabled,
.button.clear.navigation.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.accent.pseudo-class-hover,
.button.clear.accent.pseudo-class-focus {
  border-color: #0b5243;
  color: #0b5243;
}

.button.clear.accent.pseudo-class-hover.disabled,
.button.clear.accent.pseudo-class-hover[disabled],
.button.clear.accent.pseudo-class-focus.disabled,
.button.clear.accent.pseudo-class-focus[disabled] {
  border: 1px solid #16a385;
  color: #16a385;
}

.button.clear.accent.pseudo-class-hover,
.button.clear.accent.pseudo-class-hover.disabled,
.button.clear.accent.pseudo-class-hover[disabled],
.button.clear.accent.pseudo-class-focus,
.button.clear.accent.pseudo-class-focus.disabled,
.button.clear.accent.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.info.pseudo-class-hover,
.button.clear.info.pseudo-class-focus {
  border-color: #544c43;
  color: #544c43;
}

.button.clear.info.pseudo-class-hover.disabled,
.button.clear.info.pseudo-class-hover[disabled],
.button.clear.info.pseudo-class-focus.disabled,
.button.clear.info.pseudo-class-focus[disabled] {
  border: 1px solid #a3988c;
  color: #a3988c;
}

.button.clear.info.pseudo-class-hover,
.button.clear.info.pseudo-class-hover.disabled,
.button.clear.info.pseudo-class-hover[disabled],
.button.clear.info.pseudo-class-focus,
.button.clear.info.pseudo-class-focus.disabled,
.button.clear.info.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.highlight.pseudo-class-hover,
.button.clear.highlight.pseudo-class-focus {
  border-color: #631f4c;
  color: #631f4c;
}

.button.clear.highlight.pseudo-class-hover.disabled,
.button.clear.highlight.pseudo-class-hover[disabled],
.button.clear.highlight.pseudo-class-focus.disabled,
.button.clear.highlight.pseudo-class-focus[disabled] {
  border: 1px solid #c34198;
  color: #c34198;
}

.button.clear.highlight.pseudo-class-hover,
.button.clear.highlight.pseudo-class-hover.disabled,
.button.clear.highlight.pseudo-class-hover[disabled],
.button.clear.highlight.pseudo-class-focus,
.button.clear.highlight.pseudo-class-focus.disabled,
.button.clear.highlight.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.acc.pseudo-class-hover,
.button.clear.acc.pseudo-class-focus {
  border-color: #001c36;
  color: #001c36;
}

.button.clear.acc.pseudo-class-hover.disabled,
.button.clear.acc.pseudo-class-hover[disabled],
.button.clear.acc.pseudo-class-focus.disabled,
.button.clear.acc.pseudo-class-focus[disabled] {
  border: 1px solid #00386b;
  color: #00386b;
}

.button.clear.acc.pseudo-class-hover,
.button.clear.acc.pseudo-class-hover.disabled,
.button.clear.acc.pseudo-class-hover[disabled],
.button.clear.acc.pseudo-class-focus,
.button.clear.acc.pseudo-class-focus.disabled,
.button.clear.acc.pseudo-class-focus[disabled] {
  border-color: transparent;
}

a.button.pseudo-class-hover,
a.button.pseudo-class-focus {
  text-decoration: none;
}

.button-group .button.pseudo-class-last-child {
  margin-right: 0;
}

.button-group.primary .button.pseudo-class-hover,
.button-group.primary .button.pseudo-class-focus {
  background-color: #14718b;
  color: #131212;
}

.button-group.secondary .button.pseudo-class-hover,
.button-group.secondary .button.pseudo-class-focus {
  background-color: #52555b;
  color: #f6f6f6;
}

.button-group.success .button.pseudo-class-hover,
.button-group.success .button.pseudo-class-focus {
  background-color: #066e25;
  color: #f6f6f6;
}

.button-group.warning .button.pseudo-class-hover,
.button-group.warning .button.pseudo-class-focus {
  background-color: #ae680d;
  color: #131212;
}

.button-group.alert .button.pseudo-class-hover,
.button-group.alert .button.pseudo-class-focus {
  background-color: #b11515;
  color: #f6f6f6;
}

.button-group.navigation .button.pseudo-class-hover,
.button-group.navigation .button.pseudo-class-focus {
  background-color: #22469a;
  color: #f6f6f6;
}

.button-group.accent .button.pseudo-class-hover,
.button-group.accent .button.pseudo-class-focus {
  background-color: #12826a;
  color: #131212;
}

.button-group.info .button.pseudo-class-hover,
.button-group.info .button.pseudo-class-focus {
  background-color: #877a6c;
  color: #131212;
}

.button-group.highlight .button.pseudo-class-hover,
.button-group.highlight .button.pseudo-class-focus {
  background-color: #9e327a;
  color: #f6f6f6;
}

.button-group.acc .button.pseudo-class-hover,
.button-group.acc .button.pseudo-class-focus {
  background-color: #002d56;
  color: #f6f6f6;
}

.button-group.stacked .button.pseudo-class-last-child,
.button-group.stacked-for-small .button.pseudo-class-last-child,
.button-group.stacked-for-medium .button.pseudo-class-last-child {
  margin-bottom: 0;
}

.close-button.pseudo-class-hover,
.close-button.pseudo-class-focus {
  color: #f6f6f6;
}

.slider-handle.pseudo-class-hover {
  background-color: #157894;
}

input.pseudo-class-checked ~ .switch-paddle {
  background: #198dae;
}

input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2.25rem;
}

[data-whatinput=mouse] input.pseudo-class-focus ~ .switch-paddle {
  outline: 0;
}

input.pseudo-class-checked + label > .switch-active {
  display: block;
}

input.pseudo-class-checked + label > .switch-inactive {
  display: none;
}

.switch.tiny input.pseudo-class-checked ~ .switch-paddle::after {
  left: 1.75rem;
}

.switch.small input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2rem;
}

.switch.large input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2.75rem;
}

table.hover thead tr.pseudo-class-hover {
  background-color: #ebebeb;
}

table.hover tfoot tr.pseudo-class-hover {
  background-color: #e5e5e5;
}

table.hover tbody tr.pseudo-class-hover {
  background-color: #f1f1f1;
}

table.hover:not(.unstriped) tr:nth-of-type(even).pseudo-class-hover {
  background-color: #e4e4e4;
}

.breadcrumbs a.pseudo-class-hover {
  text-decoration: underline;
}

.callout > .pseudo-class-first-child {
  margin-top: 0;
}

.callout > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-divider > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-section > .pseudo-class-last-child {
  margin-bottom: 0;
}

.pagination li.pseudo-class-last-child,
.pagination li.pseudo-class-first-child {
  display: inline-block;
}

.pagination a.pseudo-class-hover,
.pagination button.pseudo-class-hover {
  background: #e6e6e6;
}

.pagination .disabled.pseudo-class-hover {
  background: transparent;
}

.accordion-item.pseudo-class-first-child > .pseudo-class-first-child {
  border-radius: 0px 0px 0 0;
}

.accordion-item.pseudo-class-last-child > .pseudo-class-last-child {
  border-radius: 0 0 0px 0px;
}

.accordion-title .pseudo-class-last-child:not(.is-active) > .accordion-title .pseudo-class-last-child {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0 0 0px 0px;
}

.accordion-title.pseudo-class-hover,
.accordion-title.pseudo-class-focus {
  background-color: #e6e6e6;
}

.pseudo-class-last-child > .accordion-content.pseudo-class-last-child {
  border-bottom: 1px solid #e6e6e6;
}

.tabs.simple > li > a.pseudo-class-hover {
  background: transparent;
}

.tabs.primary > li > a.pseudo-class-hover,
.tabs.primary > li > a.pseudo-class-focus {
  background: #1b98bc;
}

.tabs-title > a.pseudo-class-hover {
  background: #f6f6f6;
  color: #167996;
}

.tabs-title > a.pseudo-class-focus {
  background: #f6f6f6;
  color: #131212;
}

a.thumbnail.pseudo-class-hover,
a.thumbnail.pseudo-class-focus {
  box-shadow: 0 0 6px 1px rgba(25, 141, 174, 0.5);
}

.menu-icon.pseudo-class-hover::after {
  background: #cacaca;
  box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

.menu-icon.dark.pseudo-class-hover::after {
  background: #8a8a8a;
  box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
}

.reveal > .pseudo-class-last-child {
  margin-bottom: 0;
}

.show-on-focus.pseudo-class-active,
.show-on-focus.pseudo-class-focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.button.shadow.pseudo-class-hover {
  box-shadow: 0.5px 0.5px 2px 0.25px rgba(0, 0, 0, 0.1);
}

.close-button.pseudo-class-focus {
  outline: none;
}

.pagination .disabled.pseudo-class-hover {
  background-image: url("../img/cross_disabled.png");
}

.sg .pagination .disabled.pseudo-class-hover {
  background-image: url("assets/img/cross_disabled.png");
}

.pagination-container a:not([class=pagination-previous]):not([class=pagination-next]).pseudo-class-hover {
  color: #131212;
}

.disabled.pseudo-class-hover {
  background-image: url("../img/cross_disabled.png");
}

.sg .disabled.pseudo-class-hover {
  background-image: url("assets/img/cross_disabled.png");
}

a.pseudo-class-focus {
  color: unset;
}

.button.shadow.pseudo-class-focus,
*[class^=" hover:"].pseudo-class-focus,
*[class^=" h:"].pseudo-class-focus {
  background: inherit;
  border: inherit;
  color: inherit;
}

.h\:bg_primary.pseudo-class-hover {
  background-color: #198dae !important;
}

.h\:bg_primary-0.pseudo-class-hover {
  background-color: #198dae !important;
}

.h\:bg_primary-1.pseudo-class-hover {
  background-color: #3c9eba !important;
}

.h\:bg_primary-2.pseudo-class-hover {
  background-color: #6eb7cc !important;
}

.h\:bg_primary-3.pseudo-class-hover {
  background-color: #a3d1df !important;
}

.h\:bg_primary-4.pseudo-class-hover {
  background-color: #cce6ed !important;
}

.h\:bg_primary-5.pseudo-class-hover {
  background-color: #e8f4f7 !important;
}

.h\:bg_primary-n1.pseudo-class-hover {
  background-color: #177f9d !important;
}

.h\:bg_primary-n2.pseudo-class-hover {
  background-color: #136a83 !important;
}

.h\:bg_primary-n3.pseudo-class-hover {
  background-color: #0e4e60 !important;
}

.h\:bg_primary-n4.pseudo-class-hover {
  background-color: #0a3846 !important;
}

.h\:bg_primary-n5.pseudo-class-hover {
  background-color: #06232c !important;
}

.h\:c_primary.pseudo-class-hover {
  color: #198dae !important;
}

.h\:c_primary-0.pseudo-class-hover {
  color: #198dae !important;
}

.h\:c_primary-1.pseudo-class-hover {
  color: #3c9eba !important;
}

.h\:c_primary-2.pseudo-class-hover {
  color: #6eb7cc !important;
}

.h\:c_primary-3.pseudo-class-hover {
  color: #a3d1df !important;
}

.h\:c_primary-4.pseudo-class-hover {
  color: #cce6ed !important;
}

.h\:c_primary-5.pseudo-class-hover {
  color: #e8f4f7 !important;
}

.h\:c_primary-n1.pseudo-class-hover {
  color: #177f9d !important;
}

.h\:c_primary-n2.pseudo-class-hover {
  color: #136a83 !important;
}

.h\:c_primary-n3.pseudo-class-hover {
  color: #0e4e60 !important;
}

.h\:c_primary-n4.pseudo-class-hover {
  color: #0a3846 !important;
}

.h\:c_primary-n5.pseudo-class-hover {
  color: #06232c !important;
}

.h\:bg_secondary.pseudo-class-hover {
  background-color: #676a72 !important;
}

.h\:bg_secondary-0.pseudo-class-hover {
  background-color: #676a72 !important;
}

.h\:bg_secondary-1.pseudo-class-hover {
  background-color: #7e8087 !important;
}

.h\:bg_secondary-2.pseudo-class-hover {
  background-color: #9fa1a6 !important;
}

.h\:bg_secondary-3.pseudo-class-hover {
  background-color: #c2c3c7 !important;
}

.h\:bg_secondary-4.pseudo-class-hover {
  background-color: #dedee0 !important;
}

.h\:bg_secondary-5.pseudo-class-hover {
  background-color: #f0f0f1 !important;
}

.h\:bg_secondary-n1.pseudo-class-hover {
  background-color: #5d5f67 !important;
}

.h\:bg_secondary-n2.pseudo-class-hover {
  background-color: #4d5056 !important;
}

.h\:bg_secondary-n3.pseudo-class-hover {
  background-color: #393a3f !important;
}

.h\:bg_secondary-n4.pseudo-class-hover {
  background-color: #292a2e !important;
}

.h\:bg_secondary-n5.pseudo-class-hover {
  background-color: #1a1b1d !important;
}

.h\:c_secondary.pseudo-class-hover {
  color: #676a72 !important;
}

.h\:c_secondary-0.pseudo-class-hover {
  color: #676a72 !important;
}

.h\:c_secondary-1.pseudo-class-hover {
  color: #7e8087 !important;
}

.h\:c_secondary-2.pseudo-class-hover {
  color: #9fa1a6 !important;
}

.h\:c_secondary-3.pseudo-class-hover {
  color: #c2c3c7 !important;
}

.h\:c_secondary-4.pseudo-class-hover {
  color: #dedee0 !important;
}

.h\:c_secondary-5.pseudo-class-hover {
  color: #f0f0f1 !important;
}

.h\:c_secondary-n1.pseudo-class-hover {
  color: #5d5f67 !important;
}

.h\:c_secondary-n2.pseudo-class-hover {
  color: #4d5056 !important;
}

.h\:c_secondary-n3.pseudo-class-hover {
  color: #393a3f !important;
}

.h\:c_secondary-n4.pseudo-class-hover {
  color: #292a2e !important;
}

.h\:c_secondary-n5.pseudo-class-hover {
  color: #1a1b1d !important;
}

.h\:bg_success.pseudo-class-hover {
  background-color: #078a2e !important;
}

.h\:bg_success-0.pseudo-class-hover {
  background-color: #078a2e !important;
}

.h\:bg_success-1.pseudo-class-hover {
  background-color: #2c9c4d !important;
}

.h\:bg_success-2.pseudo-class-hover {
  background-color: #63b57b !important;
}

.h\:bg_success-3.pseudo-class-hover {
  background-color: #9cd0ab !important;
}

.h\:bg_success-4.pseudo-class-hover {
  background-color: #c8e5d1 !important;
}

.h\:bg_success-5.pseudo-class-hover {
  background-color: #e6f3ea !important;
}

.h\:bg_success-n1.pseudo-class-hover {
  background-color: #067c29 !important;
}

.h\:bg_success-n2.pseudo-class-hover {
  background-color: #056823 !important;
}

.h\:bg_success-n3.pseudo-class-hover {
  background-color: #044c19 !important;
}

.h\:bg_success-n4.pseudo-class-hover {
  background-color: #033712 !important;
}

.h\:bg_success-n5.pseudo-class-hover {
  background-color: #02230c !important;
}

.h\:c_success.pseudo-class-hover {
  color: #078a2e !important;
}

.h\:c_success-0.pseudo-class-hover {
  color: #078a2e !important;
}

.h\:c_success-1.pseudo-class-hover {
  color: #2c9c4d !important;
}

.h\:c_success-2.pseudo-class-hover {
  color: #63b57b !important;
}

.h\:c_success-3.pseudo-class-hover {
  color: #9cd0ab !important;
}

.h\:c_success-4.pseudo-class-hover {
  color: #c8e5d1 !important;
}

.h\:c_success-5.pseudo-class-hover {
  color: #e6f3ea !important;
}

.h\:c_success-n1.pseudo-class-hover {
  color: #067c29 !important;
}

.h\:c_success-n2.pseudo-class-hover {
  color: #056823 !important;
}

.h\:c_success-n3.pseudo-class-hover {
  color: #044c19 !important;
}

.h\:c_success-n4.pseudo-class-hover {
  color: #033712 !important;
}

.h\:c_success-n5.pseudo-class-hover {
  color: #02230c !important;
}

.h\:bg_warning.pseudo-class-hover {
  background-color: #da8210 !important;
}

.h\:bg_warning-0.pseudo-class-hover {
  background-color: #da8210 !important;
}

.h\:bg_warning-1.pseudo-class-hover {
  background-color: #e09534 !important;
}

.h\:bg_warning-2.pseudo-class-hover {
  background-color: #e8b068 !important;
}

.h\:bg_warning-3.pseudo-class-hover {
  background-color: #f0cd9f !important;
}

.h\:bg_warning-4.pseudo-class-hover {
  background-color: #f7e4ca !important;
}

.h\:bg_warning-5.pseudo-class-hover {
  background-color: #fbf3e7 !important;
}

.h\:bg_warning-n1.pseudo-class-hover {
  background-color: #c4750e !important;
}

.h\:bg_warning-n2.pseudo-class-hover {
  background-color: #a4620c !important;
}

.h\:bg_warning-n3.pseudo-class-hover {
  background-color: #784809 !important;
}

.h\:bg_warning-n4.pseudo-class-hover {
  background-color: #573406 !important;
}

.h\:bg_warning-n5.pseudo-class-hover {
  background-color: #372104 !important;
}

.h\:c_warning.pseudo-class-hover {
  color: #da8210 !important;
}

.h\:c_warning-0.pseudo-class-hover {
  color: #da8210 !important;
}

.h\:c_warning-1.pseudo-class-hover {
  color: #e09534 !important;
}

.h\:c_warning-2.pseudo-class-hover {
  color: #e8b068 !important;
}

.h\:c_warning-3.pseudo-class-hover {
  color: #f0cd9f !important;
}

.h\:c_warning-4.pseudo-class-hover {
  color: #f7e4ca !important;
}

.h\:c_warning-5.pseudo-class-hover {
  color: #fbf3e7 !important;
}

.h\:c_warning-n1.pseudo-class-hover {
  color: #c4750e !important;
}

.h\:c_warning-n2.pseudo-class-hover {
  color: #a4620c !important;
}

.h\:c_warning-n3.pseudo-class-hover {
  color: #784809 !important;
}

.h\:c_warning-n4.pseudo-class-hover {
  color: #573406 !important;
}

.h\:c_warning-n5.pseudo-class-hover {
  color: #372104 !important;
}

.h\:bg_alert.pseudo-class-hover {
  background-color: #dd1a1a !important;
}

.h\:bg_alert-0.pseudo-class-hover {
  background-color: #dd1a1a !important;
}

.h\:bg_alert-1.pseudo-class-hover {
  background-color: #e23c3c !important;
}

.h\:bg_alert-2.pseudo-class-hover {
  background-color: #ea6f6f !important;
}

.h\:bg_alert-3.pseudo-class-hover {
  background-color: #f1a3a3 !important;
}

.h\:bg_alert-4.pseudo-class-hover {
  background-color: #f8cdcd !important;
}

.h\:bg_alert-5.pseudo-class-hover {
  background-color: #fce8e8 !important;
}

.h\:bg_alert-n1.pseudo-class-hover {
  background-color: #c71717 !important;
}

.h\:bg_alert-n2.pseudo-class-hover {
  background-color: #a61414 !important;
}

.h\:bg_alert-n3.pseudo-class-hover {
  background-color: #7a0e0e !important;
}

.h\:bg_alert-n4.pseudo-class-hover {
  background-color: #580a0a !important;
}

.h\:bg_alert-n5.pseudo-class-hover {
  background-color: #370707 !important;
}

.h\:c_alert.pseudo-class-hover {
  color: #dd1a1a !important;
}

.h\:c_alert-0.pseudo-class-hover {
  color: #dd1a1a !important;
}

.h\:c_alert-1.pseudo-class-hover {
  color: #e23c3c !important;
}

.h\:c_alert-2.pseudo-class-hover {
  color: #ea6f6f !important;
}

.h\:c_alert-3.pseudo-class-hover {
  color: #f1a3a3 !important;
}

.h\:c_alert-4.pseudo-class-hover {
  color: #f8cdcd !important;
}

.h\:c_alert-5.pseudo-class-hover {
  color: #fce8e8 !important;
}

.h\:c_alert-n1.pseudo-class-hover {
  color: #c71717 !important;
}

.h\:c_alert-n2.pseudo-class-hover {
  color: #a61414 !important;
}

.h\:c_alert-n3.pseudo-class-hover {
  color: #7a0e0e !important;
}

.h\:c_alert-n4.pseudo-class-hover {
  color: #580a0a !important;
}

.h\:c_alert-n5.pseudo-class-hover {
  color: #370707 !important;
}

.h\:bg_navigation.pseudo-class-hover {
  background-color: #2b58c0 !important;
}

.h\:bg_navigation-0.pseudo-class-hover {
  background-color: #2b58c0 !important;
}

.h\:bg_navigation-1.pseudo-class-hover {
  background-color: #4b71c9 !important;
}

.h\:bg_navigation-2.pseudo-class-hover {
  background-color: #7996d7 !important;
}

.h\:bg_navigation-3.pseudo-class-hover {
  background-color: #aabce6 !important;
}

.h\:bg_navigation-4.pseudo-class-hover {
  background-color: #d0daf1 !important;
}

.h\:bg_navigation-5.pseudo-class-hover {
  background-color: #eaeef9 !important;
}

.h\:bg_navigation-n1.pseudo-class-hover {
  background-color: #274fad !important;
}

.h\:bg_navigation-n2.pseudo-class-hover {
  background-color: #204290 !important;
}

.h\:bg_navigation-n3.pseudo-class-hover {
  background-color: #18306a !important;
}

.h\:bg_navigation-n4.pseudo-class-hover {
  background-color: #11234d !important;
}

.h\:bg_navigation-n5.pseudo-class-hover {
  background-color: #0b1630 !important;
}

.h\:c_navigation.pseudo-class-hover {
  color: #2b58c0 !important;
}

.h\:c_navigation-0.pseudo-class-hover {
  color: #2b58c0 !important;
}

.h\:c_navigation-1.pseudo-class-hover {
  color: #4b71c9 !important;
}

.h\:c_navigation-2.pseudo-class-hover {
  color: #7996d7 !important;
}

.h\:c_navigation-3.pseudo-class-hover {
  color: #aabce6 !important;
}

.h\:c_navigation-4.pseudo-class-hover {
  color: #d0daf1 !important;
}

.h\:c_navigation-5.pseudo-class-hover {
  color: #eaeef9 !important;
}

.h\:c_navigation-n1.pseudo-class-hover {
  color: #274fad !important;
}

.h\:c_navigation-n2.pseudo-class-hover {
  color: #204290 !important;
}

.h\:c_navigation-n3.pseudo-class-hover {
  color: #18306a !important;
}

.h\:c_navigation-n4.pseudo-class-hover {
  color: #11234d !important;
}

.h\:c_navigation-n5.pseudo-class-hover {
  color: #0b1630 !important;
}

.h\:bg_accent.pseudo-class-hover {
  background-color: #16a385 !important;
}

.h\:bg_accent-0.pseudo-class-hover {
  background-color: #16a385 !important;
}

.h\:bg_accent-1.pseudo-class-hover {
  background-color: #39b197 !important;
}

.h\:bg_accent-2.pseudo-class-hover {
  background-color: #6cc5b2 !important;
}

.h\:bg_accent-3.pseudo-class-hover {
  background-color: #a2dace !important;
}

.h\:bg_accent-4.pseudo-class-hover {
  background-color: #ccebe4 !important;
}

.h\:bg_accent-5.pseudo-class-hover {
  background-color: #e8f6f3 !important;
}

.h\:bg_accent-n1.pseudo-class-hover {
  background-color: #149378 !important;
}

.h\:bg_accent-n2.pseudo-class-hover {
  background-color: #117a64 !important;
}

.h\:bg_accent-n3.pseudo-class-hover {
  background-color: #0c5a49 !important;
}

.h\:bg_accent-n4.pseudo-class-hover {
  background-color: #094135 !important;
}

.h\:bg_accent-n5.pseudo-class-hover {
  background-color: #062921 !important;
}

.h\:c_accent.pseudo-class-hover {
  color: #16a385 !important;
}

.h\:c_accent-0.pseudo-class-hover {
  color: #16a385 !important;
}

.h\:c_accent-1.pseudo-class-hover {
  color: #39b197 !important;
}

.h\:c_accent-2.pseudo-class-hover {
  color: #6cc5b2 !important;
}

.h\:c_accent-3.pseudo-class-hover {
  color: #a2dace !important;
}

.h\:c_accent-4.pseudo-class-hover {
  color: #ccebe4 !important;
}

.h\:c_accent-5.pseudo-class-hover {
  color: #e8f6f3 !important;
}

.h\:c_accent-n1.pseudo-class-hover {
  color: #149378 !important;
}

.h\:c_accent-n2.pseudo-class-hover {
  color: #117a64 !important;
}

.h\:c_accent-n3.pseudo-class-hover {
  color: #0c5a49 !important;
}

.h\:c_accent-n4.pseudo-class-hover {
  color: #094135 !important;
}

.h\:c_accent-n5.pseudo-class-hover {
  color: #062921 !important;
}

.h\:bg_info.pseudo-class-hover {
  background-color: #a3988c !important;
}

.h\:bg_info-0.pseudo-class-hover {
  background-color: #a3988c !important;
}

.h\:bg_info-1.pseudo-class-hover {
  background-color: #b1a79d !important;
}

.h\:bg_info-2.pseudo-class-hover {
  background-color: #c5beb7 !important;
}

.h\:bg_info-3.pseudo-class-hover {
  background-color: #dad6d1 !important;
}

.h\:bg_info-4.pseudo-class-hover {
  background-color: #ebe8e6 !important;
}

.h\:bg_info-5.pseudo-class-hover {
  background-color: #f6f5f4 !important;
}

.h\:bg_info-n1.pseudo-class-hover {
  background-color: #93897e !important;
}

.h\:bg_info-n2.pseudo-class-hover {
  background-color: #7a7269 !important;
}

.h\:bg_info-n3.pseudo-class-hover {
  background-color: #5a544d !important;
}

.h\:bg_info-n4.pseudo-class-hover {
  background-color: #413d38 !important;
}

.h\:bg_info-n5.pseudo-class-hover {
  background-color: #292623 !important;
}

.h\:c_info.pseudo-class-hover {
  color: #a3988c !important;
}

.h\:c_info-0.pseudo-class-hover {
  color: #a3988c !important;
}

.h\:c_info-1.pseudo-class-hover {
  color: #b1a79d !important;
}

.h\:c_info-2.pseudo-class-hover {
  color: #c5beb7 !important;
}

.h\:c_info-3.pseudo-class-hover {
  color: #dad6d1 !important;
}

.h\:c_info-4.pseudo-class-hover {
  color: #ebe8e6 !important;
}

.h\:c_info-5.pseudo-class-hover {
  color: #f6f5f4 !important;
}

.h\:c_info-n1.pseudo-class-hover {
  color: #93897e !important;
}

.h\:c_info-n2.pseudo-class-hover {
  color: #7a7269 !important;
}

.h\:c_info-n3.pseudo-class-hover {
  color: #5a544d !important;
}

.h\:c_info-n4.pseudo-class-hover {
  color: #413d38 !important;
}

.h\:c_info-n5.pseudo-class-hover {
  color: #292623 !important;
}

.h\:bg_highlight.pseudo-class-hover {
  background-color: #c34198 !important;
}

.h\:bg_highlight-0.pseudo-class-hover {
  background-color: #c34198 !important;
}

.h\:bg_highlight-1.pseudo-class-hover {
  background-color: #cc5ea7 !important;
}

.h\:bg_highlight-2.pseudo-class-hover {
  background-color: #d987be !important;
}

.h\:bg_highlight-3.pseudo-class-hover {
  background-color: #e7b3d6 !important;
}

.h\:bg_highlight-4.pseudo-class-hover {
  background-color: #f2d5e8 !important;
}

.h\:bg_highlight-5.pseudo-class-hover {
  background-color: #f9ecf5 !important;
}

.h\:bg_highlight-n1.pseudo-class-hover {
  background-color: #b03b89 !important;
}

.h\:bg_highlight-n2.pseudo-class-hover {
  background-color: #923172 !important;
}

.h\:bg_highlight-n3.pseudo-class-hover {
  background-color: #6b2454 !important;
}

.h\:bg_highlight-n4.pseudo-class-hover {
  background-color: #4e1a3d !important;
}

.h\:bg_highlight-n5.pseudo-class-hover {
  background-color: #311026 !important;
}

.h\:c_highlight.pseudo-class-hover {
  color: #c34198 !important;
}

.h\:c_highlight-0.pseudo-class-hover {
  color: #c34198 !important;
}

.h\:c_highlight-1.pseudo-class-hover {
  color: #cc5ea7 !important;
}

.h\:c_highlight-2.pseudo-class-hover {
  color: #d987be !important;
}

.h\:c_highlight-3.pseudo-class-hover {
  color: #e7b3d6 !important;
}

.h\:c_highlight-4.pseudo-class-hover {
  color: #f2d5e8 !important;
}

.h\:c_highlight-5.pseudo-class-hover {
  color: #f9ecf5 !important;
}

.h\:c_highlight-n1.pseudo-class-hover {
  color: #b03b89 !important;
}

.h\:c_highlight-n2.pseudo-class-hover {
  color: #923172 !important;
}

.h\:c_highlight-n3.pseudo-class-hover {
  color: #6b2454 !important;
}

.h\:c_highlight-n4.pseudo-class-hover {
  color: #4e1a3d !important;
}

.h\:c_highlight-n5.pseudo-class-hover {
  color: #311026 !important;
}

.h\:bg_acc.pseudo-class-hover {
  background-color: #00386b !important;
}

.h\:bg_acc-0.pseudo-class-hover {
  background-color: #00386b !important;
}

.h\:bg_acc-1.pseudo-class-hover {
  background-color: #265681 !important;
}

.h\:bg_acc-2.pseudo-class-hover {
  background-color: #5e82a2 !important;
}

.h\:bg_acc-3.pseudo-class-hover {
  background-color: #99afc4 !important;
}

.h\:bg_acc-4.pseudo-class-hover {
  background-color: #c7d3de !important;
}

.h\:bg_acc-5.pseudo-class-hover {
  background-color: #e6ebf0 !important;
}

.h\:bg_acc-n1.pseudo-class-hover {
  background-color: #003260 !important;
}

.h\:bg_acc-n2.pseudo-class-hover {
  background-color: #002a50 !important;
}

.h\:bg_acc-n3.pseudo-class-hover {
  background-color: #001f3b !important;
}

.h\:bg_acc-n4.pseudo-class-hover {
  background-color: #00162b !important;
}

.h\:bg_acc-n5.pseudo-class-hover {
  background-color: #000e1b !important;
}

.h\:c_acc.pseudo-class-hover {
  color: #00386b !important;
}

.h\:c_acc-0.pseudo-class-hover {
  color: #00386b !important;
}

.h\:c_acc-1.pseudo-class-hover {
  color: #265681 !important;
}

.h\:c_acc-2.pseudo-class-hover {
  color: #5e82a2 !important;
}

.h\:c_acc-3.pseudo-class-hover {
  color: #99afc4 !important;
}

.h\:c_acc-4.pseudo-class-hover {
  color: #c7d3de !important;
}

.h\:c_acc-5.pseudo-class-hover {
  color: #e6ebf0 !important;
}

.h\:c_acc-n1.pseudo-class-hover {
  color: #003260 !important;
}

.h\:c_acc-n2.pseudo-class-hover {
  color: #002a50 !important;
}

.h\:c_acc-n3.pseudo-class-hover {
  color: #001f3b !important;
}

.h\:c_acc-n4.pseudo-class-hover {
  color: #00162b !important;
}

.h\:c_acc-n5.pseudo-class-hover {
  color: #000e1b !important;
}

.h\:c_white.pseudo-class-hover {
  color: #f6f6f6 !important;
}

.h\:c_black.pseudo-class-hover {
  color: #131212 !important;
}

.hover\:dotted.pseudo-class-hover,
.h\:dotted.pseudo-class-hover,
.hover\:double.pseudo-class-hover,
.h\:double.pseudo-class-hover,
.hover\:dashed.pseudo-class-hover,
.h\:dashed.pseudo-class-hover,
.hover\:underline.pseudo-class-hover,
.h\:underline.pseudo-class-hover {
  text-decoration: underline;
}

.hover\:dashed.pseudo-class-hover,
.h\:dashed.pseudo-class-hover {
  text-decoration-style: dashed;
}

.hover\:double.pseudo-class-hover,
.h\:double.pseudo-class-hover {
  text-decoration-style: double;
}

.hover\:dotted.pseudo-class-hover,
.h\:dotted.pseudo-class-hover {
  text-decoration-style: dotted;
}

.h\:bg_white.pseudo-class-hover {
  background-color: #f6f6f6;
}

.h\:bg_white-0.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0) !important;
}

.h\:bg_white-1.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.05) !important;
}

.h\:bg_white-2.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.12) !important;
}

.h\:bg_white-3.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.25) !important;
}

.h\:bg_white-4.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.38) !important;
}

.h\:bg_white-5.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.5) !important;
}

.h\:bg_white-6.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.62) !important;
}

.h\:bg_white-7.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.75) !important;
}

.h\:bg_white-8.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.88) !important;
}

.h\:bg_white-9.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.95) !important;
}

.h\:bg_white-none.pseudo-class-hover {
  background-color: #131212 !important;
}

.h\:bg_black.pseudo-class-hover {
  background-color: #131212;
}

.h\:bg_black-0.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0) !important;
}

.h\:bg_black-1.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.05) !important;
}

.h\:bg_black-2.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.12) !important;
}

.h\:bg_black-3.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.25) !important;
}

.h\:bg_black-4.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.38) !important;
}

.h\:bg_black-5.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.5) !important;
}

.h\:bg_black-6.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.62) !important;
}

.h\:bg_black-7.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.75) !important;
}

.h\:bg_black-8.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.88) !important;
}

.h\:bg_black-9.pseudo-class-hover {
  background-color: rgba(19, 18, 18, 0.95) !important;
}

.h\:bg_black-none.pseudo-class-hover {
  background-color: #131212 !important;
}

.h\:opacity.pseudo-class-hover {
  opacity: 1;
}.sr-only-focusable.pseudo-class-active,
.sr-only-focusable.pseudo-class-focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}