.disabled.pseudo-class-hover {
  background-attachment: local;
  background-repeat: repeat;
  background-position: top right;
  background-origin: border-box;
}

[type=text].pseudo-class-focus,
[type=password].pseudo-class-focus,
[type=date].pseudo-class-focus,
[type=datetime].pseudo-class-focus,
[type=datetime-local].pseudo-class-focus,
[type=month].pseudo-class-focus,
[type=week].pseudo-class-focus,
[type=email].pseudo-class-focus,
[type=number].pseudo-class-focus,
[type=search].pseudo-class-focus,
[type=tel].pseudo-class-focus,
[type=time].pseudo-class-focus,
[type=url].pseudo-class-focus,
[type=color].pseudo-class-focus,
textarea.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

input.pseudo-class-disabled,
textarea.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

.input-group > .pseudo-class-first-child,
.input-group > .pseudo-class-first-child.input-group-button > * {
  border-radius: 0px 0 0 0px;
}

.input-group > .pseudo-class-last-child,
.input-group > .pseudo-class-last-child.input-group-button > * {
  border-radius: 0 0px 0px 0;
}

.input-group-label.pseudo-class-first-child {
  border-right: 0;
}

.input-group-label.pseudo-class-last-child {
  border-left: 0;
}

select.pseudo-class-focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

select.pseudo-class-disabled {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

a.pseudo-class-hover,
a.pseudo-class-focus {
  color: #0f717a;
}

.button.pseudo-class-hover,
.button.pseudo-class-focus {
  background-color: #0e6f79;
  color: #fefefe;
}

.button.primary.pseudo-class-hover,
.button.primary.pseudo-class-focus {
  background-color: #0e6972;
  color: #0a0a0a;
}

.button.secondary.pseudo-class-hover,
.button.secondary.pseudo-class-focus {
  background-color: #4f5056;
  color: #fefefe;
}

.button.success.pseudo-class-hover,
.button.success.pseudo-class-focus {
  background-color: #077419;
  color: #0a0a0a;
}

.button.warning.pseudo-class-hover,
.button.warning.pseudo-class-focus {
  background-color: #b86c19;
  color: #0a0a0a;
}

.button.alert.pseudo-class-hover,
.button.alert.pseudo-class-focus {
  background-color: #a21d16;
  color: #fefefe;
}

.button.navigation.pseudo-class-hover,
.button.navigation.pseudo-class-focus {
  background-color: #3a5b9e;
  color: #fefefe;
}

.button.selected.pseudo-class-hover,
.button.selected.pseudo-class-focus {
  background-color: #407f56;
  color: #0a0a0a;
}

.button.info.pseudo-class-hover,
.button.info.pseudo-class-focus {
  background-color: #58439d;
  color: #fefefe;
}

.button.highlighted.pseudo-class-hover,
.button.highlighted.pseudo-class-focus {
  background-color: #aa3e7c;
  color: #0a0a0a;
}

.button.disabled.pseudo-class-hover,
.button.disabled.pseudo-class-focus,
.button[disabled].pseudo-class-hover,
.button[disabled].pseudo-class-focus {
  background-color: #11838e;
  color: #fefefe;
}

.button.disabled.primary.pseudo-class-hover,
.button.disabled.primary.pseudo-class-focus,
.button[disabled].primary.pseudo-class-hover,
.button[disabled].primary.pseudo-class-focus {
  background-color: #11838e;
  color: #0a0a0a;
}

.button.disabled.secondary.pseudo-class-hover,
.button.disabled.secondary.pseudo-class-focus,
.button[disabled].secondary.pseudo-class-hover,
.button[disabled].secondary.pseudo-class-focus {
  background-color: #63646b;
  color: #fefefe;
}

.button.disabled.success.pseudo-class-hover,
.button.disabled.success.pseudo-class-focus,
.button[disabled].success.pseudo-class-hover,
.button[disabled].success.pseudo-class-focus {
  background-color: #09911f;
  color: #0a0a0a;
}

.button.disabled.warning.pseudo-class-hover,
.button.disabled.warning.pseudo-class-focus,
.button[disabled].warning.pseudo-class-hover,
.button[disabled].warning.pseudo-class-focus {
  background-color: #e18725;
  color: #0a0a0a;
}

.button.disabled.alert.pseudo-class-hover,
.button.disabled.alert.pseudo-class-focus,
.button[disabled].alert.pseudo-class-hover,
.button[disabled].alert.pseudo-class-focus {
  background-color: #cb241c;
  color: #fefefe;
}

.button.disabled.navigation.pseudo-class-hover,
.button.disabled.navigation.pseudo-class-focus,
.button[disabled].navigation.pseudo-class-hover,
.button[disabled].navigation.pseudo-class-focus {
  background-color: #4f74bf;
  color: #fefefe;
}

.button.disabled.selected.pseudo-class-hover,
.button.disabled.selected.pseudo-class-focus,
.button[disabled].selected.pseudo-class-hover,
.button[disabled].selected.pseudo-class-focus {
  background-color: #509f6c;
  color: #0a0a0a;
}

.button.disabled.info.pseudo-class-hover,
.button.disabled.info.pseudo-class-focus,
.button[disabled].info.pseudo-class-hover,
.button[disabled].info.pseudo-class-focus {
  background-color: #735dba;
  color: #fefefe;
}

.button.disabled.highlighted.pseudo-class-hover,
.button.disabled.highlighted.pseudo-class-focus,
.button[disabled].highlighted.pseudo-class-hover,
.button[disabled].highlighted.pseudo-class-focus {
  background-color: #c45e99;
  color: #0a0a0a;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.disabled.pseudo-class-hover,
.button.hollow.disabled.pseudo-class-focus,
.button.hollow[disabled].pseudo-class-hover,
.button.hollow[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.hollow.pseudo-class-hover,
.button.hollow.pseudo-class-focus {
  border-color: #094247;
  color: #094247;
}

.button.hollow.pseudo-class-hover.disabled,
.button.hollow.pseudo-class-hover[disabled],
.button.hollow.pseudo-class-focus.disabled,
.button.hollow.pseudo-class-focus[disabled] {
  border: 1px solid #11838e;
  color: #11838e;
}

.button.hollow.primary.pseudo-class-hover,
.button.hollow.primary.pseudo-class-focus {
  border-color: #094247;
  color: #094247;
}

.button.hollow.primary.pseudo-class-hover.disabled,
.button.hollow.primary.pseudo-class-hover[disabled],
.button.hollow.primary.pseudo-class-focus.disabled,
.button.hollow.primary.pseudo-class-focus[disabled] {
  border: 1px solid #11838e;
  color: #11838e;
}

.button.hollow.secondary.pseudo-class-hover,
.button.hollow.secondary.pseudo-class-focus {
  border-color: #323236;
  color: #323236;
}

.button.hollow.secondary.pseudo-class-hover.disabled,
.button.hollow.secondary.pseudo-class-hover[disabled],
.button.hollow.secondary.pseudo-class-focus.disabled,
.button.hollow.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #63646b;
  color: #63646b;
}

.button.hollow.success.pseudo-class-hover,
.button.hollow.success.pseudo-class-focus {
  border-color: #054910;
  color: #054910;
}

.button.hollow.success.pseudo-class-hover.disabled,
.button.hollow.success.pseudo-class-hover[disabled],
.button.hollow.success.pseudo-class-focus.disabled,
.button.hollow.success.pseudo-class-focus[disabled] {
  border: 1px solid #09911f;
  color: #09911f;
}

.button.hollow.warning.pseudo-class-hover,
.button.hollow.warning.pseudo-class-focus {
  border-color: #734410;
  color: #734410;
}

.button.hollow.warning.pseudo-class-hover.disabled,
.button.hollow.warning.pseudo-class-hover[disabled],
.button.hollow.warning.pseudo-class-focus.disabled,
.button.hollow.warning.pseudo-class-focus[disabled] {
  border: 1px solid #e18725;
  color: #e18725;
}

.button.hollow.alert.pseudo-class-hover,
.button.hollow.alert.pseudo-class-focus {
  border-color: #66120e;
  color: #66120e;
}

.button.hollow.alert.pseudo-class-hover.disabled,
.button.hollow.alert.pseudo-class-hover[disabled],
.button.hollow.alert.pseudo-class-focus.disabled,
.button.hollow.alert.pseudo-class-focus[disabled] {
  border: 1px solid #cb241c;
  color: #cb241c;
}

.button.hollow.navigation.pseudo-class-hover,
.button.hollow.navigation.pseudo-class-focus {
  border-color: #243963;
  color: #243963;
}

.button.hollow.navigation.pseudo-class-hover.disabled,
.button.hollow.navigation.pseudo-class-hover[disabled],
.button.hollow.navigation.pseudo-class-focus.disabled,
.button.hollow.navigation.pseudo-class-focus[disabled] {
  border: 1px solid #4f74bf;
  color: #4f74bf;
}

.button.hollow.selected.pseudo-class-hover,
.button.hollow.selected.pseudo-class-focus {
  border-color: #285036;
  color: #285036;
}

.button.hollow.selected.pseudo-class-hover.disabled,
.button.hollow.selected.pseudo-class-hover[disabled],
.button.hollow.selected.pseudo-class-focus.disabled,
.button.hollow.selected.pseudo-class-focus[disabled] {
  border: 1px solid #509f6c;
  color: #509f6c;
}

.button.hollow.info.pseudo-class-hover,
.button.hollow.info.pseudo-class-focus {
  border-color: #372a62;
  color: #372a62;
}

.button.hollow.info.pseudo-class-hover.disabled,
.button.hollow.info.pseudo-class-hover[disabled],
.button.hollow.info.pseudo-class-focus.disabled,
.button.hollow.info.pseudo-class-focus[disabled] {
  border: 1px solid #735dba;
  color: #735dba;
}

.button.hollow.highlighted.pseudo-class-hover,
.button.hollow.highlighted.pseudo-class-focus {
  border-color: #6a274e;
  color: #6a274e;
}

.button.hollow.highlighted.pseudo-class-hover.disabled,
.button.hollow.highlighted.pseudo-class-hover[disabled],
.button.hollow.highlighted.pseudo-class-focus.disabled,
.button.hollow.highlighted.pseudo-class-focus[disabled] {
  border: 1px solid #c45e99;
  color: #c45e99;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  background-color: transparent;
}

.button.clear.disabled.pseudo-class-hover,
.button.clear.disabled.pseudo-class-focus,
.button.clear[disabled].pseudo-class-hover,
.button.clear[disabled].pseudo-class-focus {
  background-color: transparent;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-focus {
  border-color: #094247;
  color: #094247;
}

.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border: 1px solid #11838e;
  color: #11838e;
}

.button.clear.pseudo-class-hover,
.button.clear.pseudo-class-hover.disabled,
.button.clear.pseudo-class-hover[disabled],
.button.clear.pseudo-class-focus,
.button.clear.pseudo-class-focus.disabled,
.button.clear.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-focus {
  border-color: #094247;
  color: #094247;
}

.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border: 1px solid #11838e;
  color: #11838e;
}

.button.clear.primary.pseudo-class-hover,
.button.clear.primary.pseudo-class-hover.disabled,
.button.clear.primary.pseudo-class-hover[disabled],
.button.clear.primary.pseudo-class-focus,
.button.clear.primary.pseudo-class-focus.disabled,
.button.clear.primary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-focus {
  border-color: #323236;
  color: #323236;
}

.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border: 1px solid #63646b;
  color: #63646b;
}

.button.clear.secondary.pseudo-class-hover,
.button.clear.secondary.pseudo-class-hover.disabled,
.button.clear.secondary.pseudo-class-hover[disabled],
.button.clear.secondary.pseudo-class-focus,
.button.clear.secondary.pseudo-class-focus.disabled,
.button.clear.secondary.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-focus {
  border-color: #054910;
  color: #054910;
}

.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border: 1px solid #09911f;
  color: #09911f;
}

.button.clear.success.pseudo-class-hover,
.button.clear.success.pseudo-class-hover.disabled,
.button.clear.success.pseudo-class-hover[disabled],
.button.clear.success.pseudo-class-focus,
.button.clear.success.pseudo-class-focus.disabled,
.button.clear.success.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-focus {
  border-color: #734410;
  color: #734410;
}

.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border: 1px solid #e18725;
  color: #e18725;
}

.button.clear.warning.pseudo-class-hover,
.button.clear.warning.pseudo-class-hover.disabled,
.button.clear.warning.pseudo-class-hover[disabled],
.button.clear.warning.pseudo-class-focus,
.button.clear.warning.pseudo-class-focus.disabled,
.button.clear.warning.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-focus {
  border-color: #66120e;
  color: #66120e;
}

.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border: 1px solid #cb241c;
  color: #cb241c;
}

.button.clear.alert.pseudo-class-hover,
.button.clear.alert.pseudo-class-hover.disabled,
.button.clear.alert.pseudo-class-hover[disabled],
.button.clear.alert.pseudo-class-focus,
.button.clear.alert.pseudo-class-focus.disabled,
.button.clear.alert.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.navigation.pseudo-class-hover,
.button.clear.navigation.pseudo-class-focus {
  border-color: #243963;
  color: #243963;
}

.button.clear.navigation.pseudo-class-hover.disabled,
.button.clear.navigation.pseudo-class-hover[disabled],
.button.clear.navigation.pseudo-class-focus.disabled,
.button.clear.navigation.pseudo-class-focus[disabled] {
  border: 1px solid #4f74bf;
  color: #4f74bf;
}

.button.clear.navigation.pseudo-class-hover,
.button.clear.navigation.pseudo-class-hover.disabled,
.button.clear.navigation.pseudo-class-hover[disabled],
.button.clear.navigation.pseudo-class-focus,
.button.clear.navigation.pseudo-class-focus.disabled,
.button.clear.navigation.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.selected.pseudo-class-hover,
.button.clear.selected.pseudo-class-focus {
  border-color: #285036;
  color: #285036;
}

.button.clear.selected.pseudo-class-hover.disabled,
.button.clear.selected.pseudo-class-hover[disabled],
.button.clear.selected.pseudo-class-focus.disabled,
.button.clear.selected.pseudo-class-focus[disabled] {
  border: 1px solid #509f6c;
  color: #509f6c;
}

.button.clear.selected.pseudo-class-hover,
.button.clear.selected.pseudo-class-hover.disabled,
.button.clear.selected.pseudo-class-hover[disabled],
.button.clear.selected.pseudo-class-focus,
.button.clear.selected.pseudo-class-focus.disabled,
.button.clear.selected.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.info.pseudo-class-hover,
.button.clear.info.pseudo-class-focus {
  border-color: #372a62;
  color: #372a62;
}

.button.clear.info.pseudo-class-hover.disabled,
.button.clear.info.pseudo-class-hover[disabled],
.button.clear.info.pseudo-class-focus.disabled,
.button.clear.info.pseudo-class-focus[disabled] {
  border: 1px solid #735dba;
  color: #735dba;
}

.button.clear.info.pseudo-class-hover,
.button.clear.info.pseudo-class-hover.disabled,
.button.clear.info.pseudo-class-hover[disabled],
.button.clear.info.pseudo-class-focus,
.button.clear.info.pseudo-class-focus.disabled,
.button.clear.info.pseudo-class-focus[disabled] {
  border-color: transparent;
}

.button.clear.highlighted.pseudo-class-hover,
.button.clear.highlighted.pseudo-class-focus {
  border-color: #6a274e;
  color: #6a274e;
}

.button.clear.highlighted.pseudo-class-hover.disabled,
.button.clear.highlighted.pseudo-class-hover[disabled],
.button.clear.highlighted.pseudo-class-focus.disabled,
.button.clear.highlighted.pseudo-class-focus[disabled] {
  border: 1px solid #c45e99;
  color: #c45e99;
}

.button.clear.highlighted.pseudo-class-hover,
.button.clear.highlighted.pseudo-class-hover.disabled,
.button.clear.highlighted.pseudo-class-hover[disabled],
.button.clear.highlighted.pseudo-class-focus,
.button.clear.highlighted.pseudo-class-focus.disabled,
.button.clear.highlighted.pseudo-class-focus[disabled] {
  border-color: transparent;
}

a.button.pseudo-class-hover,
a.button.pseudo-class-focus {
  text-decoration: none;
}

.button-group .button.pseudo-class-last-child {
  margin-right: 0;
}

.button-group.primary .button.pseudo-class-hover,
.button-group.primary .button.pseudo-class-focus {
  background-color: #0e6972;
  color: #0a0a0a;
}

.button-group.secondary .button.pseudo-class-hover,
.button-group.secondary .button.pseudo-class-focus {
  background-color: #4f5056;
  color: #fefefe;
}

.button-group.success .button.pseudo-class-hover,
.button-group.success .button.pseudo-class-focus {
  background-color: #077419;
  color: #0a0a0a;
}

.button-group.warning .button.pseudo-class-hover,
.button-group.warning .button.pseudo-class-focus {
  background-color: #b86c19;
  color: #0a0a0a;
}

.button-group.alert .button.pseudo-class-hover,
.button-group.alert .button.pseudo-class-focus {
  background-color: #a21d16;
  color: #fefefe;
}

.button-group.navigation .button.pseudo-class-hover,
.button-group.navigation .button.pseudo-class-focus {
  background-color: #3a5b9e;
  color: #fefefe;
}

.button-group.selected .button.pseudo-class-hover,
.button-group.selected .button.pseudo-class-focus {
  background-color: #407f56;
  color: #0a0a0a;
}

.button-group.info .button.pseudo-class-hover,
.button-group.info .button.pseudo-class-focus {
  background-color: #58439d;
  color: #fefefe;
}

.button-group.highlighted .button.pseudo-class-hover,
.button-group.highlighted .button.pseudo-class-focus {
  background-color: #aa3e7c;
  color: #0a0a0a;
}

.button-group.stacked .button.pseudo-class-last-child,
.button-group.stacked-for-small .button.pseudo-class-last-child,
.button-group.stacked-for-medium .button.pseudo-class-last-child {
  margin-bottom: 0;
}

.close-button.pseudo-class-hover,
.close-button.pseudo-class-focus {
  color: #fefefe;
}

.slider-handle.pseudo-class-hover {
  background-color: #0e6f79;
}

input.pseudo-class-checked ~ .switch-paddle {
  background: #11838e;
}

input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2.25rem;
}

[data-whatinput=mouse] input.pseudo-class-focus ~ .switch-paddle {
  outline: 0;
}

input.pseudo-class-checked + label > .switch-active {
  display: block;
}

input.pseudo-class-checked + label > .switch-inactive {
  display: none;
}

.switch.tiny input.pseudo-class-checked ~ .switch-paddle::after {
  left: 1.75rem;
}

.switch.small input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2rem;
}

.switch.large input.pseudo-class-checked ~ .switch-paddle::after {
  left: 2.75rem;
}

table.hover thead tr.pseudo-class-hover {
  background-color: #f3f3f3;
}

table.hover tfoot tr.pseudo-class-hover {
  background-color: #ececec;
}

table.hover tbody tr.pseudo-class-hover {
  background-color: #f9f9f9;
}

table.hover:not(.unstriped) tr:nth-of-type(even).pseudo-class-hover {
  background-color: #ececec;
}

.breadcrumbs a.pseudo-class-hover {
  text-decoration: underline;
}

.callout > .pseudo-class-first-child {
  margin-top: 0;
}

.callout > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-divider > .pseudo-class-last-child {
  margin-bottom: 0;
}

.card-section > .pseudo-class-last-child {
  margin-bottom: 0;
}

.pagination li.pseudo-class-last-child,
.pagination li.pseudo-class-first-child {
  display: inline-block;
}

.pagination a.pseudo-class-hover,
.pagination button.pseudo-class-hover {
  background: #e6e6e6;
}

.pagination .disabled.pseudo-class-hover {
  background: transparent;
}

.accordion-item.pseudo-class-first-child > .pseudo-class-first-child {
  border-radius: 0px 0px 0 0;
}

.accordion-item.pseudo-class-last-child > .pseudo-class-last-child {
  border-radius: 0 0 0px 0px;
}

.accordion-title .pseudo-class-last-child:not(.is-active) > .accordion-title .pseudo-class-last-child {
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0 0 0px 0px;
}

.accordion-title.pseudo-class-hover,
.accordion-title.pseudo-class-focus {
  background-color: #e6e6e6;
}

.pseudo-class-last-child > .accordion-content.pseudo-class-last-child {
  border-bottom: 1px solid #e6e6e6;
}

.media-object-section.pseudo-class-first-child {
  padding-right: 1rem;
}

.media-object-section.pseudo-class-last-child:not(:nth-child(2)) {
  padding-left: 1rem;
}

.media-object-section > .pseudo-class-last-child {
  margin-bottom: 0;
}

.orbit-next.pseudo-class-hover,
.orbit-previous.pseudo-class-hover,
.orbit-next.pseudo-class-active,
.orbit-previous.pseudo-class-active,
.orbit-next.pseudo-class-focus,
.orbit-previous.pseudo-class-focus {
  background-color: rgba(10, 10, 10, 0.5);
}

.orbit-bullets button.pseudo-class-hover {
  background-color: #8a8a8a;
}

.tabs.simple > li > a.pseudo-class-hover {
  background: transparent;
}

.tabs.primary > li > a.pseudo-class-hover,
.tabs.primary > li > a.pseudo-class-focus {
  background: #13919e;
}

.tabs-title > a.pseudo-class-hover {
  background: #fefefe;
  color: #0f717a;
}

.tabs-title > a.pseudo-class-focus {
  background: #e6e6e6;
  color: #11838e;
}

a.thumbnail.pseudo-class-hover,
a.thumbnail.pseudo-class-focus {
  box-shadow: 0 0 6px 1px rgba(17, 131, 142, 0.5);
}

.menu-icon.pseudo-class-hover::after {
  background: #cacaca;
  box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

.menu-icon.dark.pseudo-class-hover::after {
  background: #8a8a8a;
  box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a;
}

.reveal > .pseudo-class-last-child {
  margin-bottom: 0;
}

.show-on-focus.pseudo-class-active,
.show-on-focus.pseudo-class-focus {
  position: static !important;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.button.primary.pseudo-class-hover,
.button.primary.pseudo-class-focus {
  background-color: #0e6972;
  color: white;
}

.button.secondary.pseudo-class-hover,
.button.secondary.pseudo-class-focus {
  background-color: #4f5056;
  color: white;
}

.button.success.pseudo-class-hover,
.button.success.pseudo-class-focus {
  background-color: #077419;
  color: white;
}

.button.warning.pseudo-class-hover,
.button.warning.pseudo-class-focus {
  background-color: #b86c19;
  color: white;
}

.button.alert.pseudo-class-hover,
.button.alert.pseudo-class-focus {
  background-color: #a21d16;
  color: white;
}

.button.navigation.pseudo-class-hover,
.button.navigation.pseudo-class-focus {
  background-color: #3a5b9e;
  color: white;
}

.button.selected.pseudo-class-hover,
.button.selected.pseudo-class-focus {
  background-color: #407f56;
  color: white;
}

.button.info.pseudo-class-hover,
.button.info.pseudo-class-focus {
  background-color: #58439d;
  color: white;
}

.button.highlighted.pseudo-class-hover,
.button.highlighted.pseudo-class-focus {
  background-color: #aa3e7c;
  color: white;
}

.button.shadow.pseudo-class-hover {
  box-shadow: 0.5px 0.5px 2px 0.25px rgba(0, 0, 0, 0.1);
}

.close-button.pseudo-class-focus {
  outline: none;
}

.quicklinks a.pseudo-class-hover {
  background-color: #e0f9fb;
  color: #0a0a0a;
}

.disabled.pseudo-class-hover {
  background-image: url("/assets/img/cross_disabled.png");
}